

.main-panel {

}

.button { 
	
}

.StickerDetailPane{
		-fx-background-color:white;
}

.StickerDetailPane .label{
	
	-fx-font-size:1.2em;
	-fx-font-weight: bold;
	-fx-text-fill:gray;
	
}

.sticker {

	-fx-alignment:center;
	-fx-border-color:#000000;
	-fx-background-color:#90ee90;
	-fx-padding:2.0px;
	-fx-text-alignment:center;
}

.expandBut{
	-fx-font-size:1.4em;
	-fx-font-weight: bold;
	-fx-background-color:rgba(100.0,100.0,100.0,0.2);
	-fx-padding:0.0,2.0,0.0,2.0;
}

#bottom{
	-fx-background-color:whitesmoke;
}

.valueLabel{
	-fx-font-size:1.2em;
	-fx-font-weight: bold;
	-fx-text-fill:#1e90ff;
}

.tagNameLabel{
	-fx-font-size:1.2em;
	-fx-font-weight: bold;
	-fx-text-fill:#008080;
}

.elementviewer {

}